<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>App管理 —— Panther</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- axios必须引入且在request.js之前 -->
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/request.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <div th:replace="admin/sidebar::admin-sidebar(index='app-manager')"></div>

        <el-container>
            <el-header>
                <div></div>
                <el-dropdown class="user-info">
                    <p style="margin-left: 10px" th:text="${username}"></p>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>修改密码</el-dropdown-item>
                        <el-dropdown-item>退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>

            <el-main>
                <el-button type="primary" icon="el-icon-plus" size="medium" @click="onClickCreate">创建App</el-button>
                <div class="space-column-20"></div>
                <el-table
                    :data="appData"
                    v-loading="loadingAppData"
                    stripe
                    style="width: 100%;">
                    <el-table-column prop="name" label="名称" align="center"></el-table-column>
                    <el-table-column prop="englishName" label="英文名" align="center"></el-table-column>
                    <el-table-column prop="createTimeFormatted" label="创建时间" align="center"></el-table-column>
                    <el-table-column label="状态" align="center" width="150">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.locked" type="warning">已锁定</el-tag>
                            <el-tag v-else-if="scope.row.deleted" type="danger">回收站</el-tag>
                            <el-tag v-else type="success">正常</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column label="类型" align="center" width="150">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.superApp">超级App</el-tag>
                            <el-tag v-else type="info">普通</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column prop="appKeyFake" label="AppKey" v-popover:popover align="center">
                        <template slot-scope="scope">
                            <el-popover trigger="click" placement="top" ref="popover">
                                <p>{{ scope.row.appKey }}</p>
                                <div slot="reference">
                                    <p>{{ scope.row.appKeyFake }}</p>
                                </div>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="primary"
                                    @click="onClickUpload(scope.row)">上传</el-button>
                            <el-button
                                    size="mini"
                                    type="success"
                                    @click="onClickEdit(scope.row)">编辑</el-button>

                            <el-button
                                    size="mini"
                                    type="info"
                                    @click="onClickToken(scope.row)">Token</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="space-column-20"></div>
                <el-pagination v-if="totalPage > 1"
                        background
                        layout="prev, pager, next"
                        :total="totalPage"
                        :current-page="currPage"
                        @current-change="onChangePage">
                </el-pagination>
            </el-main>

            <el-footer>

            </el-footer>
        </el-container>
    </el-container>

    <el-dialog
            title="上传图片"
            :visible.sync="uploadDialogVisible"
            width="480px" center>
        <div class="upload-container">
            <label class="upload-button" for="upload-actual">选 择 图 片</label>
            <el-empty description="请选择图片" v-if="previewImages.length === 0"></el-empty>
            <div class="preview-container" v-else>
                <template v-for="image in previewImages" >
                    <div class="preview-image-container">
                        <el-image :src="image" class="preview-image"></el-image>
                        <el-button type="danger" icon="el-icon-delete" circle class="preview-image-delete" @click="onClickUploadRemove(image)"></el-button>
                    </div>
                </template>
            </div>
        </div>
        <input type="file" accept="image/*" multiple="multiple" id="upload-actual" hidden @change="parseFile($event)">
        <span slot="footer" class="dialog-footer">
            <el-button @click="uploadDialogVisible = false">取 消</el-button>
            <el-button type="primary" :loading="uploading" @click="onSubmitUpload">上 传</el-button>
        </span>
    </el-dialog>

    <el-dialog
        title="编辑App"
        :visible.sync="editDialogVisible"
        center>
        <el-form ref="edit-form" :model="currSelectApp" label-width="120px">
            <el-form-item label="App Key">
                <el-input v-model="currSelectApp.appKey" disabled></el-input>
            </el-form-item>
            <el-form-item label="App名称">
                <el-input v-model="currSelectApp.name"></el-input>
            </el-form-item>
            <el-form-item label="英文名">
                <el-input v-model="currSelectApp.englishName" disabled></el-input>
            </el-form-item>
            <el-form-item label="是否超级App">
                <el-switch v-model="currSelectApp.superApp"></el-switch>
            </el-form-item>
            <el-form-item label="创建时间">
                <el-input v-model="currSelectApp.createTimeFormatted" disabled></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button type="danger" @click="onClickDeleteApp(currSelectApp.appKey, currSelectApp.deleted)" v-if="!currSelectApp.locked">
                {{ currSelectApp.deleted ? '恢 复' : '删 除'}}
            </el-button>
            <el-button type="warning" @click="onClickLockApp(currSelectApp.appKey, currSelectApp.locked)" v-if="!currSelectApp.deleted">
                {{ currSelectApp.locked ? '解 锁' : '锁 定'}}
            </el-button>
            <el-button @click="editDialogVisible = false">
                取 消
            </el-button>
            <el-button type="primary" v-if="!currSelectApp.deleted" :loading="updating" @click="onClickUpdateApp">
                保 存
            </el-button>
        </span>
    </el-dialog>

    <el-dialog title="Token管理"
        :visible.sync="tokenDialogVisible"
        width="40%"
        center destroy-on-close>
        <div class="token-row-container">
            <span>{{ currSelectApp.updateToken1GenTimeFormatted }}</span>
            <el-button type="primary" round @click="onClickGenerateToken">{{currSelectApp.hasUploadToken1 ? '重新生成' : '生成Token'}}</el-button>
        </div>
    </el-dialog>
    <el-dialog title="Token生成成功"
               :visible.sync="tokenValueDialogVisible"
               width="500px" destroy-on-close>
        <div class="column-container">
            <p>请妥善保管好Token，此页面一经关闭将不再出现！</p>
            <div class="token-value-text">{{ tokenValue }}</div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="tokenValueDialogVisible = false" @close="tokenValue = ''">我已保存好Token</el-button>
        </span>
    </el-dialog>

    <el-dialog title="创建App"
               :visible.sync="createDialogVisible"
               center>

    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                totalPage: 1,
                currPage: 1,
                pageSize: 10,

                currSelectApp: {
                    appKey: '',
                    name: '',
                    role: 'NORMAL',
                    englishName: '',
                    avatarUrl: '',
                    createTime: 0,
                    phone: '',
                    email: '',
                    status: 'NORMAL',
                    hasUploadToken1: false,
                    updateToken1GenTime: 0,

                    superApp: false,
                    createTimeFormatted: '',
                    locked: false,
                },

                editDialogVisible: false,
                updating: false,

                uploadDialogVisible: false,
                uploading: false,
                selectedFiles: [],
                previewImages: [],

                tokenDialogVisible: false,
                tokenValueDialogVisible: false,
                tokenValue: '',

                createDialogVisible: false,

                loadingAppData: false,
                appData: [],
            }
        },
        methods: {
            fetchAppData() {
                this.loadingAppData = true;
                let fetchedData = []
                getAllAppData(this.currPage - 1, this.pageSize).then(response => {
                    this.totalPage = response.data.totalPages;
                    response.data.content.forEach(app => {
                        app.appKeyFake = "****************";
                        app.superApp = app.role === 'SUPER';
                        app.locked = app.status === 'LOCKED';
                        app.deleted = app.status === 'DELETED';
                        app.createTimeFormatted = formatDate(new Date(app.createTime), "yyyy-MM-dd hh:mm:ss");
                        if (app.hasUploadToken1) {
                            app.updateToken1GenTimeFormatted = '生成于 ' + formatDate(new Date(app.updateToken1GenTime), "yyyy年MM月dd日 hh:mm:ss");
                        } else {
                            app.updateToken1GenTimeFormatted = '还未生成过Token，点击右边按钮生成'
                        }
                        fetchedData.push(app);
                    });
                    this.appData = fetchedData;
                }).finally(() => {
                    this.loadingAppData = false;
                })
            },
            onChangePage(page) {
                this.currPage = page;
                this.fetchAppData();
            },
            onClickUpload(app) {
                this.uploadDialogVisible = true;
                if (this.currSelectApp.appKey !== app.appKey) {
                    this.selectedFiles = [];
                }
                Object.assign(this.currSelectApp, app);
            },
            onClickEdit(app) {
                this.editDialogVisible = true;
                Object.assign(this.currSelectApp, app);
            },
            onClickCreate() {
                this.createDialogVisible = true;
                this.currSelectApp = {
                    name: '',
                    role: 'NORMAL',
                    englishName: '',
                    avatarUrl: '',
                    phone: '',
                    email: '',

                    superApp: false,
                    locked: false,
                };
            },
            onClickToken(app) {
                this.tokenDialogVisible = true;
                Object.assign(this.currSelectApp, app);
            },
            parseFile(event) {
                if (event.target.files.length > 0) {
                    let that = this;
                    let i = 0, len = event.target.files.length;
                    for (i, len; i < len; i++) {
                        const file = event.target.files[i]
                        this.selectedFiles.push(file);
                        const reader = new FileReader();
                        reader.onload = function (evt) {
                            that.previewImages.push(evt.target.result);
                        }
                        reader.readAsDataURL(file)
                    }
                }
            },
            onSubmitUpload() {
                if (this.selectedFiles.length > 0) {
                    this.uploading = true;
                    const tasks = [];
                    this.selectedFiles.forEach(file => {
                        tasks.push(new Promise(((resolve, reject) => {
                            upload(this.currSelectApp.appKey, null, file).then(response => {
                                resolve.call(response);
                            }).catch((error) => {
                                reject.call(error);
                            });
                        })));
                    });
                    Promise.all(tasks).then((results) => {
                        this.$message.success(`上传了${results.length}张图片`);
                        this.uploadDialogVisible = false;
                        this.selectedFiles = [];
                        this.previewImages = [];
                    }).catch(errors => {
                        errors.forEach(error => this.$message.error(error.msg));
                    }).finally(() => {
                        this.uploading = false;
                    });
                } else {
                    this.$message.error('请先选择图片');
                }
            },
            onClickUploadRemove(image) {
                let toRemoveIndex = -1;
                for (let i = 0; i < this.previewImages.length; i++) {
                    if (image === this.previewImages[i]) {
                        toRemoveIndex = i;
                        break;
                    }
                }
                if (toRemoveIndex !== -1) {
                    this.selectedFiles.splice(toRemoveIndex, 1);
                    this.previewImages.splice(toRemoveIndex, 1);
                }
            },
            onClickDeleteApp(appKey, deleted) {
                if (deleted) {
                    this.$confirm('确认恢复App?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'info'
                    }).then(() => {
                        undeleteApp(appKey).then(_ => {
                            this.editDialogVisible = false;
                            this.$message({
                                type: 'success',
                                message: '恢复成功!'
                            });
                            this.fetchAppData();
                        }).catch(error => {
                            this.$message.error(error.msg);
                        });
                    });
                } else {
                    this.$prompt('删除后的App将在回收站中保留30天，之后将永远删除。请输入App英文名：', '警告', {
                        confirmButtonClass: 'delete-app-confirm',
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValidator: (val) => {
                            return val === this.currSelectApp.englishName;
                        },
                        inputErrorMessage: 'App英文名不正确'
                    }).then(({ value }) => {
                        deleteApp(appKey).then(_ => {
                            this.editDialogVisible = false;
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                            this.fetchAppData();
                        }).catch(error => {
                            this.$message.error(error.msg);
                        });
                    });
                }
            },
            onClickLockApp(appKey, locked) {
                if (locked) {
                    this.$confirm('解锁后App将可以继续上传图片, 是否解锁?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'info'
                    }).then(() => {
                        unlockApp(appKey).then(_ => {
                            this.editDialogVisible = false;
                            this.$message({
                                type: 'success',
                                message: '解锁成功!'
                            });
                            this.fetchAppData();
                        }).catch(error => {
                            this.$message.error(error.msg);
                        });
                    });
                } else {
                    this.$confirm('锁定App后将无法上传图片, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        lockApp(appKey).then(_ => {
                            this.editDialogVisible = false;
                            this.$message({
                                type: 'success',
                                message: '锁定成功!'
                            });
                            this.fetchAppData();
                        }).catch(error => {
                            this.$message.error(error.msg);
                        });
                    });
                }
            },
            onClickUpdateApp() {
                this.updating = true;
                updateAppInfo(this.currSelectApp.appKey, {
                    name: this.currSelectApp.name,
                    role: this.currSelectApp.superApp ? 'SUPER' : 'NORMAL'
                }).then(_ => {
                    this.editDialogVisible = false;
                    this.$message.success("保存成功");
                    this.fetchAppData();
                }).catch(error => {
                    this.$message.error(error.msg);
                }).finally(() => {
                    this.updating = false;
                });
            },
            onClickGenerateToken() {
                if (this.currSelectApp.hasUploadToken1) {
                    this.$confirm('重新生成Token后原Token将失效，是否继续？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(_ => {
                        this.generateTokenActual();
                    });
                } else {
                    this.generateTokenActual();
                }
            },
            generateTokenActual() {
                generateUploadToken(this.currSelectApp.appKey).then(response => {
                    this.tokenDialogVisible = false;
                    this.tokenValueDialogVisible = true;
                    this.tokenValue = response.data;
                    this.fetchAppData();
                }).catch(e => {
                    this.$message.error(e.msg);
                })
            },
            onSelectSideMenu(index, _) {
                if (index === 'overview') {
                    window.location.href = "/admin/overview"
                } else if (index === 'app-manager') {
                    window.location.href = "/admin/app-manager"
                }
            }
        },
        created: function () {
            this.fetchAppData();
        }
    })
</script>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .el-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 30px
    }
    .el-main {
        background-color: #F5F5FA;
    }
    .el-col {
        border-radius: 4px;
    }
    .grid-content {
        border-radius: 4px;
        padding: 30px 40px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #f9fafc;
    }
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    .aside-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .preview-container {
        height: 350px;
        overflow-y: auto;
        text-align: center;
    }
    .upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        color: #fff;
        border-radius: 4px;
        background-color: #7EBF50;
        margin-bottom: 20px;
        cursor: pointer;
        transition: .2s;
    }
    .upload-button:hover {
        background-color: #99cb77;
    }
    .preview-image-container {
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
    }
    .preview-image-delete {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 0;
        transition: .5s;
        z-index: 1000;
    }
    .preview-image-container:hover .preview-image-delete {
        opacity: 1;
    }
    .preview-image {
        width: 360px;
        height: 80px;
        border-radius: 4px;
    }
    .delete-app-confirm {
        background-color: #FF4368;
        border-color: #FF4368;
    }
    .delete-app-confirm:hover {
        background-color: #FF7387;
        border-color: #FF7387;
    }
    .delete-app-confirm:focus {
        background-color: #FF7387;
        border-color: #FF7387;
    }
    .token-row-container {
        display: flex;
        flex-direction: row;
        padding: 20px 30px;
        margin: 10px 20px;
        border-radius: 10px;
        background: #ffffff;
        align-items: center;
        justify-content: space-between;
    }
    .token-value-text {
        color: #000000;
        padding: 12px 20px;
        background-color: #f6f7fc;
    }
</style>
</html>