<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>图片管理 —— Panther</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- axios必须引入且在request.js之前 -->
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/request.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/image/image.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/app.js}"></script>
</head>
<body>
<div id="app">
    <el-container class="root-container">
        <div th:replace="admin/sidebar::admin-sidebar(index='image-manager')"></div>

        <el-container direction="vertical">
            <div th:replace="admin/sidebar::admin-header"></div>

            <el-main>
                <el-button type="success" icon="el-icon-upload" size="medium" @click="onClickUpload">上传图片</el-button>
                <el-button type="info" icon="el-icon-tickets" size="medium" @click="onClickRefreshDb">刷新数据库</el-button>
                <el-button type="primary" icon="el-icon-files" size="medium" @click="onClickRefreshFile">刷新本地目录</el-button>
                <el-button type="danger" icon="el-icon-delete-solid" size="medium" @click="onClickDelete" v-if="multipleSelection.length > 0">删除</el-button>

                <div class="space-column-20"></div>
                <el-table
                        :data="imageData"
                        v-loading="loadingImageData"
                        style="width: 100%;"
                        @selection-change="onSelectionChange">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column label="预览" align="center" width="100">
                        <template slot-scope="scope">
                            <el-image :src="scope.row.url" :preview-src-list="previewImages" fit="contain"></el-image>
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="名称" align="center">
                        <template slot-scope="scope">
                            <el-tooltip class="item" effect="dark" :content="'点击复制：' + scope.row.name" placement="top">
                                <el-link @click="onClickImageName(scope.row)">{{ scope.row.nameEllipsis }}</el-link>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                    <el-table-column prop="url" label="图片URL" align="center" min-width="140">
                        <template slot-scope="scope">
                            <el-tooltip class="item" effect="dark" :content="'点击复制：' + scope.row.url" placement="top">
                                <el-link @click="onClickCopyImageUrl(scope.row)">{{ scope.row.urlEllipsis }}</el-link>
                            </el-tooltip>
                        </template>
                    </el-table-column>
                    <el-table-column prop="ownerApp" label="所属App" align="center"></el-table-column>
                    <el-table-column label="状态" align="center">
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.deleted" type="danger">回收站</el-tag>
                            <el-tag v-else type="success">正常</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column prop="uploadTimeFormatted" label="上传时间" align="center"></el-table-column>
                    <el-table-column prop="sizeFormatted" label="图片大小" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button :type="scope.row.deleted ? 'warning' : 'danger'" size="mini" @click="onClickDeleteImage(scope.row)">
                                {{scope.row.deleted ? '恢复' : '删除'}}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="space-column-20"></div>
                <el-pagination v-if="totalPage > 1"
                               background
                               layout="prev, pager, next"
                               :page-count="totalPage"
                               :current-page="currPage"
                               @current-change="onChangePage">
                </el-pagination>
            </el-main>
        </el-container>
    </el-container>

    <el-dialog title="上传图片"
               :visible.sync="uploadDialogVisible"
               width="650px" center>
        <div class="upload-container">
            <el-form :inline="true" :model="uploadData" class="demo-form-inline">
                <el-form-item label="所属App">
                    <el-select v-model="uploadData.uploadApp"
                               placeholder="请选择图片的App"
                               value-key="appKey"
                               :loading="searching"
                               remote filterable
                               :remote-method="getAppData"
                               @change="onChangeSelectedApp"
                               @focus="getAppData('')">
                        <el-option v-for="app in appData"
                                   :key="app.id"
                                   :label="app.name"
                                   :value="app"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="文件夹">
                    <el-input v-model="uploadData.uploadDir"
                              :disabled="uploadData.uploadDirDisabled"
                              v-popover:popover
                              placeholder="默认上传到App目录"></el-input>
                </el-form-item>
                <el-popover
                        ref="popover"
                        placement="top"
                        title="说明"
                        width="200"
                        trigger="hover"
                        content="只有超级App才可编辑此项目"></el-popover>
            </el-form>
            <label class="upload-button" for="upload-actual">选 择 图 片</label>
            <el-empty description="请选择图片" v-if="selectedImagesPreview.length === 0"></el-empty>
            <div class="preview-container" v-else>
                <template v-for="image in selectedImagesPreview" >
                    <div class="preview-image-container">
                        <el-image :src="image" class="preview-image"></el-image>
                        <el-button type="danger" icon="el-icon-delete" circle class="preview-image-delete" @click="onClickUploadRemove(image)"></el-button>
                    </div>
                </template>
            </div>
        </div>
        <input type="file" accept="image/*" multiple="multiple" id="upload-actual" hidden @change="parseFile($event)">
        <span slot="footer" class="dialog-footer">
            <el-button @click="uploadDialogVisible = false">取 消</el-button>
            <el-button type="primary" :loading="uploading" @click="clickUpload">上 传</el-button>
        </span>
    </el-dialog>

    <el-dialog title="刷新数据库"
               :visible.sync="refreshDbDialogVisible"
               center>
        <el-table :data="invalidDbItems" v-if="invalidDbItems.length > 0" v-loading="refreshing">
            <el-table-column property="name" label="名称" width="150"></el-table-column>
            <el-table-column property="url" label="图片URL" width="200"></el-table-column>
            <el-table-column property="relativePath" label="存储路径"></el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" @click="clickDeleteInvalidImg(scope.row)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-empty v-else description="恭喜你！已清理所有无效的数据库记录"></el-empty>
    </el-dialog>

    <el-dialog title="刷新本地目录"
               :visible.sync="refreshFileDialogVisible"
               center>
        <el-table :data="invalidFileItems" v-if="invalidFileItems.length > 0" v-loading="refreshing">
            <el-table-column label="预览" align="center" width="100">
                <template slot-scope="scope">
                    <el-image :src="scope.row.url" fit="contain"></el-image>
                </template>
            </el-table-column>
            <el-table-column property="name" label="名称" width="150"></el-table-column>
            <el-table-column property="url" label="图片URL" width="200"></el-table-column>
            <el-table-column property="relativePath" label="存储路径"></el-table-column>
            <el-table-column property="ownerApp" label="所属App"></el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" @click="clickDeleteInvalidFile(scope.row)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-empty v-else description="恭喜你！已整理完成所有文件"></el-empty>
        <span slot="footer" class="dialog-footer">
            <el-button @click="refreshFileDialogVisible = false">取 消</el-button>
            <el-button type="primary" :loading="processing" @click="clickSaveInvalidFile">保 存</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 表格数据
                imageData: [],
                previewImages: [],
                loadingImageData: false,
                currPage: 1,
                totalPage: 1,
                pageSize: 10,
                // 多选的图片
                multipleSelection: [],
                // 上传图片
                uploadDialogVisible: false,
                uploading: false,
                uploadData: {
                    selectedImages: [],
                    uploadDir: '',
                    uploadDirDisabled: false,
                    uploadApp: {},
                },
                appData: [],
                searching: false,
                selectedImagesPreview: [],
                // 刷新数据库
                refreshDbDialogVisible: false,
                invalidDbItems: [],
                // 刷新本地目录
                refreshFileDialogVisible: false,
                invalidFileItems: [],

                refreshing: false,
                processing: false,
            }
        },
        methods: {
            fetchImageData() {
                this.loadingImageData = true;
                let fetchedData = []
                getAllImages(this.currPage - 1, this.pageSize).then(response => {
                    this.totalPage = response.data.totalPages;
                    response.data.content.forEach(image => {
                        image.nameEllipsis = ellipsisText(image.name, 20);
                        image.urlEllipsis = ellipsisText(image.url, 40);
                        image.uploadTimeFormatted = formatDate(new Date(image.uploadTime), "yyyy-MM-dd hh:mm:ss");
                        image.sizeFormatted = getSizeFromByte(image.size);
                        image.deleted = image.status === 'DELETED';
                        fetchedData.push(image);
                    });
                    this.imageData = fetchedData;
                    this.imageData.forEach(image => {
                        this.previewImages.push(image.url);
                    })
                }).catch(e => {
                    this.$message.error(e.msg)
                }).finally(_ => {
                    this.loadingImageData = false;
                });
            },
            onClickUpload() {
                this.uploadDialogVisible = true;
            },
            onClickRefreshDb() {
                this.$confirm("此操作将扫描整个数据库，是否继续", "提示").then(() => {
                    this.refreshDbDialogVisible = true;
                    this.refreshing = true;
                    refreshImageDb().then(response => {
                        this.invalidDbItems = response.data.invalidItems;
                    }).catch((e) => {
                        this.$message.error(e.msg);
                    }).finally(() => {
                        this.refreshing = false;
                    });
                });
            },
            onClickRefreshFile() {
                this.$confirm("此操作将扫描存储目录下的所有文件，并判断是否在数据库中有对应记录，可能会消耗较多内存，是否继续", "提示").then(() => {
                    this.refreshFileDialogVisible = true;
                    this.refreshing = true;
                    refreshImageFile().then(response => {
                        this.invalidFileItems = response.data.invalidItems;
                    }).catch((e) => {
                        this.$message.error(e.msg);
                    }).finally(() => {
                        this.refreshing = false;
                    });
                });
            },
            onClickDelete() {
                this.$confirm(`你将删除${this.multipleSelection.length}张图片。图片删除后将暂存在回收站中，30天后自动删除，是否继续？`, '警告', {
                    confirmButtonClass: 'delete-action-confirm',
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    type: 'error'
                }).then(() => {
                    const tasks = [];
                    this.multipleSelection.forEach(image => {
                        tasks.push(new Promise((resolve, reject) => {
                            deleteImage(image.id).then(response => {
                                this.$message.success(response.msg);
                                resolve.call(response);
                            }).catch(error => {
                                this.$message.error(error.msg);
                                reject.call(error);
                            });
                        }));
                    });
                    Promise.all(tasks).finally(() => this.fetchImageData());
                });
            },
            parseFile(event) {
                if (event.target.files.length > 0) {
                    let that = this;
                    let i = 0, len = event.target.files.length;
                    for (i, len; i < len; i++) {
                        const file = event.target.files[i]
                        this.uploadData.selectedImages.push(file);
                        const reader = new FileReader();
                        reader.onload = function (evt) {
                            that.selectedImagesPreview.push(evt.target.result);
                        }
                        reader.readAsDataURL(file)
                    }
                }
            },
            onClickUploadRemove(image) {
                let toRemoveIndex = -1;
                for (let i = 0; i < this.selectedImagesPreview.length; i++) {
                    if (image === this.selectedImagesPreview[i]) {
                        toRemoveIndex = i;
                        break;
                    }
                }
                if (toRemoveIndex !== -1) {
                    this.uploadData.selectedImages.splice(toRemoveIndex, 1);
                    this.selectedImagesPreview.splice(toRemoveIndex, 1);
                }
            },
            getAppData(query) {
                let fetched = [];
                this.searching = true;
                if (query) {
                    searchApp(query).then(response => {
                        response.data.forEach(app => {
                            fetched.push(app);
                        });
                        this.appData = fetched;
                    }).finally(() => this.searching = false);
                } else {
                    getAllAppData(0, 50).then(response => {
                        response.data.content.forEach(app => {
                            fetched.push(app);
                        });
                        this.appData = fetched;
                    }).finally(() => this.searching = false);
                }
            },
            onChangeSelectedApp(app) {
                this.uploadData.uploadDir = '/app/' + app.englishName;
                this.uploadData.uploadDirDisabled = app.role !== 'SUPER';
            },
            clickUpload() {
                if (!this.uploadData.uploadApp.appKey) {
                    this.$message.error("请选择图片所属App");
                    return;
                }
                if (this.uploadData.selectedImages.length === 0) {
                    this.$message.error("请选择上传的图片");
                    return;
                }
                this.uploading = true;
                const tasks = [];
                let dir;
                if (this.uploadData.uploadApp.role === 'SUPER') {
                    if (this.uploadData.uploadDir !== '/app/' + this.uploadData.uploadApp.englishName) {
                        dir = this.uploadData.uploadDir;
                    }
                } else {
                    dir = null;
                }
                this.uploadData.selectedImages.forEach(file => {
                    tasks.push(new Promise(((resolve, reject) => {
                        upload(this.uploadData.uploadApp.appKey, dir, file).then(response => {
                            this.$message.success(`上传${response.data.originalName}成功`);
                            resolve.call(response);
                        }).catch((error) => {
                            this.$message.error(error.msg);
                            reject.call(error);
                        });
                    })));
                });
                Promise.all(tasks).then((_) => {
                    this.uploadDialogVisible = false;
                    this.uploadData.selectedImages = [];
                    this.uploadData.uploadDir = '';
                    this.uploadData.uploadApp = {};
                    this.selectedImagesPreview = [];
                }).catch(error => {
                    console.error(error)
                }).finally(() => {
                    this.uploading = false;
                    this.fetchImageData();
                });
            },
            clickDeleteInvalidImg(image) {
                deleteImageForever(image.id, false).then(response => {
                    this.$message.success(response.msg);
                    const index = findFirstIndex(this.invalidDbItems, (element) => image.id === element.id);
                    this.invalidDbItems.splice(index, 1);
                }).catch(error => {
                    this.$message.error(error.msg);
                });
            },
            clickDeleteInvalidFile(file) {
                this.$confirm('此图片将从磁盘中永久删除，是否继续？', '警告', {
                    confirmButtonClass: 'delete-action-confirm',
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    type: 'error'
                }).then(() => {
                    deleteFileForever(file.absolutePath).then(response => {
                        this.$message.success(response.msg);
                        const index = findFirstIndex(this.invalidFileItems, (element) => file.relativePath === element.relativePath);
                        this.invalidFileItems.splice(index, 1);
                    }).catch(error => {
                        this.$message.error(error.msg);
                    });
                });
            },
            clickSaveInvalidFile() {
                this.$confirm('未删除的图片将在数据库中生成记录，对于未知归属App的图片建议手动创建App或者将其移动至正确的文件目录下再进行此操作', '提示', {
                    confirmButtonText: '确认',
                    cancelButtonText: '取消',
                }).then(() => {
                    this.processing = true;
                    saveInvalidFiles(this.invalidFileItems).then(response => {
                        this.$message.success(response.msg);
                        this.refreshFileDialogVisible = false;
                        this.fetchImageData();
                    }).catch(e => {
                        this.$message.error(e.msg);
                    }).finally(() => {
                        this.processing = true;
                    });
                });
            },
            onClickImageName(image) {
                try {
                    navigator.clipboard.writeText(image.name);
                    this.$notify({
                        title: '复制成功',
                        duration: 2000,
                        type: 'success'
                    });
                } catch (err) {
                    this.$notify.error({
                        title: '复制失败，请手动复制',
                        message: image.name,
                        duration: 0
                    });
                }
            },
            onClickCopyImageUrl(image) {
                try {
                    navigator.clipboard.writeText(image.url);
                    this.$notify({
                        title: '复制成功',
                        duration: 2000,
                        type: 'success'
                    });
                } catch (err) {
                    this.$notify.error({
                        title: '复制失败，请手动复制',
                        message: image.url,
                        duration: 0
                    });
                }
            },
            onClickDeleteImage(image) {
                if (image.deleted) {
                    this.$confirm('确认恢复图片吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        undeleteImage(image.id).then(response => {
                            this.$message.success(response.msg);
                            this.fetchImageData();
                        }).catch(e => {
                            this.$message.error(e.msg);
                        });
                    });
                } else {
                    this.$confirm('图片删除后将暂存在回收站中，30天后自动删除，是否继续？', '警告', {
                        confirmButtonClass: 'delete-action-confirm',
                        confirmButtonText: '删除',
                        cancelButtonText: '取消',
                        type: 'error'
                    }).then(() => {
                        deleteImage(image.id).then(response => {
                            this.$message.success(response.msg);
                            this.fetchImageData();
                        }).catch(e => {
                            this.$message.error(e.msg);
                        });
                    });
                }
            },
            onSelectionChange(val) {
                this.multipleSelection = val;
            },
            onChangePage(page) {
                this.currPage = page;
                this.fetchImageData();
            },
            onSelectSideMenu(index, _) {
                window.location.href = "/admin/" + index;
            }
        },
        created() {
            this.fetchImageData();
        }
    })
</script>
<style>
    .aside-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    html, body, #app, .root-container, .el-container {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }
    .el-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 30px
    }
    .el-main {
        background-color: #F5F5FA;
    }
    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .preview-container {
        height: 350px;
        overflow-y: auto;
        text-align: center;
    }
    .upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        color: #fff;
        border-radius: 4px;
        background-color: #7EBF50;
        margin-bottom: 20px;
        cursor: pointer;
        transition: .2s;
    }
    .upload-button:hover {
        background-color: #99cb77;
    }
    .preview-image-container {
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
    }
    .preview-image-delete {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        opacity: 0;
        transition: .5s;
        z-index: 1000;
    }
    .preview-image-container:hover .preview-image-delete {
        opacity: 1;
    }
    .preview-image {
        width: 360px;
        height: 80px;
        border-radius: 4px;
    }
</style>
</html>