<html>
<head>
    <meta charset="utf-8">
    <title>ViewUI example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- axios必须引入且在request.js之前 -->
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/request.js}"></script>
</head>
<body>
<div id="app">
    <i-button @click="show">Click me!</i-button>
    <Modal v-model="visible" title="Welcome">Welcome to ViewUI</Modal>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
</body>
</html>