<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改密码 —— Panther</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- axios必须引入且在request.js之前 -->
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/request.js}"></script>
    <script type="text/javascript" th:src="@{/js/router.js}"></script>
    <script type="text/javascript" th:src="@{/js/store.js}"></script>
    <script type="text/javascript" th:src="@{/js/api/common.js}"></script>

</head>
<body>
<div id="app">
    <el-container class="root-container">
        <div th:replace="component/thymeleaf::admin-sidebar(index='password')"></div>

        <el-container direction="vertical">
            <div th:replace="component/thymeleaf::admin-header(pageTitle='修改密码')"></div>

            <el-main>
                <el-form ref="form" :rules="changePasswordRules" :model="changePasswordParam" label-width="120px" class="form-size">
                    <el-form-item label="原始密码" prop="oldPassword">
                        <el-input v-model="changePasswordParam.oldPassword"
                                  placeholder="请输入旧的管理员密码"
                                  show-password></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="newPassword">
                        <el-input v-model="changePasswordParam.newPassword"
                                  placeholder="请输入新的管理员密码"
                                  show-password
                                  minlength="6"
                                  maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码" prop="secondPassword">
                        <el-input v-model="secondPassword"
                                  placeholder="请再输入一次密码"
                                  show-password
                                  minlength="6"
                                  maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onClickConfirm" size="medium" >
                            确认修改
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            const validateSecondPassword = (rule, _, callback) => {
                if (this.secondPassword === '') {
                    callback(new Error('请再次输入密码'));
                } else if (this.secondPassword !== this.changePasswordParam.newPassword) {
                    callback(new Error('两次输入密码不一致'));
                } else {
                    callback();
                }
            };
            return {
                currUser,
                changePasswordParam: {
                    oldPassword: '',
                    newPassword: '',
                },
                secondPassword: '',
                changePasswordRules: {
                    oldPassword: [
                        { required: true, message: '请输入原密码', trigger: ['blur', 'change'] },
                    ],
                    newPassword: [
                        { required: true, message: '请输入新的超级管理员密码', trigger: ['blur', 'change'] },
                        { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' },
                    ],
                    secondPassword: [
                        { validator: validateSecondPassword, trigger: ['blur', 'change'] },
                    ],
                }
            }
        },
        methods: {
            async changePassword() {
                return axiosClient.put(`/api/v1/admin/password`, this.changePasswordParam);
            },
            onClickConfirm() {
                if (this.changePasswordParam.oldPassword === this.changePasswordParam.newPassword) {
                    this.$message.error('新密码与旧密码不能相同！');
                    return;
                }
                this.changePassword().then(response => {
                    this.$message({
                        message: response.msg,
                        type: 'success',
                        duration: 1500
                    });
                    setTimeout(() => {
                        logout();
                    }, 2000);
                }).catch((e) => {
                    this.$message.error(e.msg);
                });
            }
        },
        created() {
            initializeAdminInfo();
        }
    })
</script>
<style>
    .form-size {
        width: 1000px;
    }
</style>
</html>