<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置 —— Panther</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- axios必须引入且在request.js之前 -->
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/request.js}"></script>
    <script type="text/javascript" th:src="@{/js/router.js}"></script>
</head>
<body>
<div id="app">
    <el-container class="root-container">
        <div th:replace="component/thymeleaf::admin-sidebar(index='setting')"></div>

        <el-container direction="vertical">
            <div th:replace="component/thymeleaf::admin-header"></div>

            <el-main>

            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
            }
        },
        methods: {

        }
    })
</script>
<style>
</style>
</html>