<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SideBar</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
</head>
<body>
<div th:fragment="admin-sidebar">
    <el-aside>
        <div class="aside-title">
            <p>Panther</p>
        </div>
        <el-menu th:default-active="${index}" @select="onSelectSideMenu">
            <el-menu-item index="overview">
                <i class="el-icon-data-board"></i>
                <span slot="title">概览</span>
            </el-menu-item>
            <el-menu-item index="app-manager">
                <i class="el-icon-mobile-phone"></i>
                <span slot="title">App管理</span>
            </el-menu-item>
            <el-menu-item index="image-manager">
                <i class="el-icon-picture-outline"></i>
                <span slot="title">图片管理</span>
            </el-menu-item>
        </el-menu>
    </el-aside>
</div>
<div th:fragment="admin-header">
    <el-header>
        <div>
            <el-page-header @back="goBack" th:content="${pageTitle}"></el-page-header>
        </div>
        <div class="row-center-container">
            <i class="el-icon-setting" style="cursor: pointer" @click="onClickPantherSetting"></i>
            <div class="space-row-20"></div>
            <el-dropdown class="user-info" @command="onClickUsernameMenu">
                <div class="row-center-container">
                    <el-avatar :src="currUser.avatar" :size="35"></el-avatar>
                    <div class="space-row-10"></div>
                    <p>{{ currUser.username }}</p>
                </div>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="changePassword">修改密码</el-dropdown-item>
                    <el-dropdown-item command="logout">退出登录</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </el-header>
</div>
</body>
<style>
    .aside-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
</html>